/******************************************
*  Author : Chris Angel   
*  Created On : Fri Aug 22 2025
*  File : CSS.css
*******************************************/

 .header {
    padding: 15px;
    font: 1em sans-serif;
    text-align: center;
    background: rgba(8, 8, 8, 0.89);
    color: white;
    font-size: 15px;
}
 .button {
  padding: 20px;
 }
